        <h1 class="texto">Painel arduino</h1>
    
        <center>
        <div class="painel" onMouseOut="fora();">
            <input type="button" id="ledverde" class="ledverde" onclick="ledVerde();" onmouseover="expVerde();">
            <input type="button" id="ledazul" class="ledazul" onclick="ledAzul();" onmouseover="expAzul();"><br>
            <input type="button" id="ledvermelho" class="ledvermelho" onclick="ledVermelho();" onmouseover="expVermelho();">
            <input type="button" id="ledamarelo" class="ledamarelo" onclick="ledAmarelo();" onmouseover="expAmarelo();">
            <input type="button" id="ledAleatorio" class="ledAleatorio" onclick="ledAleatorio();" onmouseover="expLaranja();">
            <input type="button" id="ledAleatorio2s" class="ledAleatorio2s" onclick="ledAleatorio2s();" onmouseover="expRosa();">
        </div>
        </center>
<br>
<div id="legenda">
    <img src="https://camo.githubusercontent.com/9d34bae99da3d484cd575c9f407ee6fc509aa532/687474703a2f2f6a6f686e6e792d666976652e696f2f696d672f68657265732d6a6f686e6e792e706e67" width="100" height="150" alt="">
    <p id="funcionalidade"></p>
</div>